@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

@media (max-width: 991.8px){
    .navbar-brand p {
        display:contents;
    }

    #img-hp {
        display: none;
    }
}

@media (min-width: 992px){
    .navbar-brand p {
        display:none;
    }

    #img-hp {
        display: block;
    }
}

th {
    cursor: pointer;
}

#img-hp {
    text-align: center;
}

.numbers {
    margin-top: 50px;
    padding-left: 50px;
}

.numbers-players {
    margin : 25px auto;
    width : 75%;
    padding-left: 80px;
}

.big-number {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 128px;
    height:200px;
    margin-right: 70px;
    vertical-align: middle;
}

.title {
    margin-top: 20px;
    text-align: center;
}

.h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

th {
    text-align: center;
}

td {
    padding: 0;
    margin: 0;
    text-align: center;
}

table tbody tr td a {
    display: block;
    width: 100%;
    height: 100%;
}